<!-- IF seo_title --><title>{seo_title}</title><!-- ENDIF -->
<!-- IF seo_author --><meta name="Author" content="{seo_author}"><!-- ENDIF -->
<!-- IF seo_key --><meta name="Keywords" content="{seo_key}"><!-- ENDIF -->
<!-- IF seo_des --><meta name="Description" content="{seo_des}"><!-- ENDIF -->
{header_meta}